# AWS SAM
.aws-sam/
samconfig.toml

# Java
target/
*.class
*.jar

# Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
dependency-reduced-pom.xml

# IDE
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*